<div class="container">
    <h2>Edit Profile</h2>

    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' (change)="onImageSelected($event)" id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>

        </div>
        <a (click)="onImgClicked()">
            <div class="avatar-preview">
                <img id="imagePreview" [src]='imageUrl'>
            </div>
        </a>


        <div class="user-data">
            <form [formGroup]="form" (ngSubmit)="onFormSubmit()">
                <label>Name</label>
                <input type="text" formControlName="name" id="" required>
                <span *ngIf="!form.get('name')?.valid && !form.get('name')?.untouched">Name must be valid</span>
                <label>Email</label>
                <input type="text" formControlName="email" id="" required>
                <span *ngIf="!form.get('email')?.valid && !form.get('email')?.untouched">Email must be valid</span>
                <label>New Password</label>
                <input type="password" formControlName="newpassword" required>
                <span *ngIf="!form.get('newpassword')?.valid && !form.get('newpassword')?.untouched">Password must have
                    8 Characters</span>
                <label>Confirm Password</label>
                <input type="password" formControlName="confpassword" required>
                <span *ngIf="form.get('confpassword')?.hasError('mustMatch')">Both Passwords Should Match</span>
                <input type="submit" id="">
                <input type="button" value="Cancel" routerLink="/profile">
            </form>
        </div>
    </div>

</div>